.context {
    /* margin-top: 36px; */
    display: block;
}
.name {
    text-align: center;
    font-size: x-large;
    font-variant: small-caps;
}
.wish,
.therefore {
    font-weight: bold;
}
publication {
    font-style: italic;
}
section {
    font-variant: small-caps;
    text-align: center;
}
section-body,
.quotation {
    font-size: smaller;
}
.therefore::before {
    content: "Therefore:";
    font-weight: normal;
    display: block;
}
div.constitution > p,
div.context > p {
    display: inline;
}
.context::after,
.rationale::before,
.constitution::before {
    content: "❖ ❖ ❖";
    /* content: "✣ ✣ ✣"; */
    text-align: center;
    display: block;
    font-weight: normal;
    font-size: larger;
    margin-top: 18px;
}
/* .context::before, */
.context > :first-child::before,
.constitution > :first-child::after {
    content: "…";
    display: inline;
}
rationale {
    display: block;
    /* max-width: 640px; */
}
.rationale::after {
    content: "❦";
    display: block;
    text-align: center;
}
constitution {
    display: block;
}
.pearl {
    font-variant: small-caps;
}
a.pearl {
    font-variant: small-caps;
    color: var(--theme-foreground);
}
.hero {
    border: 2px solid black;
}
hero,
sketch,
photo {
    display: flex;
    justify-content: center;
    /* margin-top: var(--leading); */
}
