@import url("observablehq:default.css");
@import url("observablehq:theme-ink.css");
@import url("note.css");

.as-is,
.vista {
    max-width: 640px;
}
.vista > img {
    width: 100%;
}
.as-is > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--sans-serif);
    /* margin: 4rem 0 8rem; */
    text-wrap: balance;
    text-align: center;
}
.hero > img {
    width: 100%;
}

.hero h1 {
    margin: 1rem 0;
    padding: 1rem 0;
    max-width: none;
    font-size: 14vw;
    font-weight: 900;
    line-height: 1;
    background: linear-gradient(
        30deg,
        var(--theme-foreground-focus),
        currentColor
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero h2 {
    margin: 0;
    max-width: 34em;
    font-size: 20px;
    font-style: initial;
    font-weight: 500;
    line-height: 1.5;
    color: var(--theme-foreground-muted);
}

@media (min-width: 640px) {
    .hero h1 {
        font-size: 90px;
    }
}

.context {
    /* margin-top: 36px; */
    display: block;
    /* max-width: 640px; */
}
.name {
    text-align: center;
    font-size: x-large;
    font-variant: small-caps;
}
.wish,
.therefore {
    font-weight: bold;
}
publication {
    font-style: italic;
}
.section {
    font-variant: small-caps;
    text-align: center;
}
.quotation {
    font-size: smaller;
}
.therefore::before {
    content: "Therefore:";
    font-weight: normal;
    display: block;
}
/* div.constitution > p, */
/* div.context > p {
    display: inline;
} */
.context::after,
.rationale::before,
.constitution::before {
    content: "❖ ❖ ❖";
    /* content: "✣ ✣ ✣"; */
    text-align: center;
    display: block;
    font-weight: normal;
    font-size: larger;
    margin-top: 18px;
    max-width: 640px;
}
/* .context::before, */
.context > :first-child::before,
.constitution > :last-child::after {
    content: "…";
    display: inline;
}
.rationale {
}

.rationale > :last-child::after {
    content: "❦";
    text-align: center;
    display: block;
    margin-top: 24px;
    /* max-width: 640px; */
}
.constitution {
    display: block;
    /* max-width: 640px; */
}
.pearl {
    font-variant: small-caps;
}
a.pearl {
    font-variant: small-caps;
    color: var(--theme-foreground);
}
.hero {
    border: 2px solid black;
    max-width: 640px;
}
.hero,
.sketch,
.photo {
    display: flex;
    justify-content: center;
    max-width: 640px;
    /* margin-top: var(--leading); */
}
